In [2]:
import requests
import json
import pandas as pd
from api_keys import adina_api_key, henry_api_key, devang_api_key, tanner_api_key

In [3]:
#Reading in counties DF
counties = pd.read_csv('C:/Users/adina/Desktop/Classwork/Project 1/Project-1/CO County Data.csv',encoding='cp1252')
counties_df = pd.DataFrame(counties)
counties_df.head()

,FIPS,County,County Seat(s),Population (2010),Land Area km2,Land Area mi2,Water Area km2,Water Area mi2,Total Area km2,Total Area mi2,Latitude,Longitude
0,8001,Adams,Brighton,"441,603","3,024.21","1,167.65",42.070,16.243,"3,066.28","1,183.90",39.874325,-104.331872
1,8003,Alamosa,Alamosa,"15,445","1,871.64",722.643,1.808,0.698,"1,873.45",723.341,37.568442,-105.788041
2,8005,Arapahoe,Littleton,"572,003","2,067.07",798.1,19.004,7.337,"2,086.07",805.437,39.644632,-104.331733
3,8007,Archuleta,Pagosa Springs,"12,084","3,496.94","1,350.18",13.828,5.339,"3,510.77","1,355.51",37.202395,-107.050863
4,8009,Baca,Springfield,"3,788","6,617.33","2,554.97",6.142,2.372,"6,623.48","2,557.34",37.303144,-102.535457

In [6]:
# Create list of dates (Mondays in 2022)
# Following code adapted from: https://stackoverflow.com/questions/2003870/how-can-i-select-all-of-the-sundays-for-a-year-using-python

def allmondays(year):
    return pd.date_range(start=str(year), end=str(year+1), 
                         freq='W-MON').strftime('%Y-%m-%d').tolist()

dates = allmondays(2021)
dates

['2021-01-04',
 '2021-01-11',
 '2021-01-18',
 '2021-01-25',
 '2021-02-01',
 '2021-02-08',
 '2021-02-15',
 '2021-02-22',
 '2021-03-01',
 '2021-03-08',
 '2021-03-15',
 '2021-03-22',
 '2021-03-29',
 '2021-04-05',
 '2021-04-12',
 '2021-04-19',
 '2021-04-26',
 '2021-05-03',
 '2021-05-10',
 '2021-05-17',
 '2021-05-24',
 '2021-05-31',
 '2021-06-07',
 '2021-06-14',
 '2021-06-21',
 '2021-06-28',
 '2021-07-05',
 '2021-07-12',
 '2021-07-19',
 '2021-07-26',
 '2021-08-02',
 '2021-08-09',
 '2021-08-16',
 '2021-08-23',
 '2021-08-30',
 '2021-09-06',
 '2021-09-13',
 '2021-09-20',
 '2021-09-27',
 '2021-10-04',
 '2021-10-11',
 '2021-10-18',
 '2021-10-25',
 '2021-11-01',
 '2021-11-08',
 '2021-11-15',
 '2021-11-22',
 '2021-11-29',
 '2021-12-06',
 '2021-12-13',
 '2021-12-20',
 '2021-12-27']

In [86]:
#Dates ranges for batches
for date in dates[39:52]:
    print(date)
    
# 0-13
# 13-26
# 26-39
# 39-52

2022-10-03
2022-10-10
2022-10-17
2022-10-24
2022-10-31
2022-11-07
2022-11-14
2022-11-21
2022-11-28
2022-12-05
2022-12-12
2022-12-19
2022-12-26

In [7]:
##USE THIS!##

weather_data = []

# loop through dates in chunks
for date in dates[0:13]:
    
    # for index, row in counties_weather_df.iterrows():
    for index, row in counties_df.iterrows():

    # Get latitude, longitude from the DataFrame
        latitude = row['Latitude']
        longitude = row['Longitude']
        request_date = date
        api_key = adina_api_key
        county = row['County']

            # Set base URL
        base_url = f'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{latitude},{longitude}/{request_date}/{request_date}?key={api_key}&contentType=json&include=days&elements=cloudcover,datetime,solarradiation,solarenergy,tempmax,tempmin,temp,humidity,precipcover,preciptype,uvindex,sunrise,sunset'

            # Make an API request and convert to JSON
        response = requests.get(base_url).json()

        try:
            weather_dict = response['days'][0]
            weather_dict['County'] = county
            weather_data.append(weather_dict)
        except:
            pass

weather_data

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [105]:
#Convert to DF and confirm correct shape
part1_df = pd.DataFrame(weather_data)
part1_df.shape

(832, 14)

In [106]:
#Convert to CSV
part1_df.to_csv("C:/Users/adina/Desktop/Classwork/Project 1/Project-1/Weather API Data CSVs/2021Pt1.csv",index=False)

In [115]:
#Combine DFs and convert to CSV of all data
full2021_df = pd.concat([part1_df,part2_df,part3_df,part4_df])
full2021_df.to_csv('C:/Users/adina/Desktop/Classwork/Project 1/Project-1/Weather API Data CSVs/2021Mondays.csv',index=False)

***
### Testing/development cells

In [ ]:
#DON'T NEED THIS
# Iterate through the DataFrame
for index, row in counties_weather_df.iterrows():
    
    # Get latitude, longitude from the DataFrame
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    # Set base URL
#     base_url = f'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{latitude},{longitude}/{date}/{date}?key={api_key}&contentType=json&include=days&elements=cloudcover,datetime,solarradiation,solarenergy,tempmax,tempmin,temp,humidity,precipcover,preciptype,uvindex,sunrise,sunset'
           
    # Make an API request and convert to JSON
    response = requests.get(base_url,params=params).json()
    
    # Grab the first airport from the results and store the details in the DataFrame
    try:
        counties_weather_df.loc[index, "Date"] = response['days'][0]['datetime']
        counties_weather_df.loc[index, "Max Temp"] = response['days'][0]['tempmax']
        counties_weather_df.loc[index, "Min Temp"] = response['days'][0]['tempmin']
        counties_weather_df.loc[index, "Avg Temp"] = response['days'][0]['temp']
        counties_weather_df.loc[index, "Humidity"] = response['days'][0]['humidity']
        counties_weather_df.loc[index, "Precip Cover"] = response['days'][0]['precipcover']
        counties_weather_df.loc[index, "Precip Type"] = response['days'][0]['preciptype']
        counties_weather_df.loc[index, "Cloud Cover"] = response['days'][0]['cloudcover']
        counties_weather_df.loc[index, "Solar Radiation"] = response['days'][0]['solarradiation']
        counties_weather_df.loc[index, "Solar Energy"] = response['days'][0]['solarenergy']
        counties_weather_df.loc[index, "UV Index"] = response['days'][0]['uvindex']
        counties_weather_df.loc[index, "Sunrise"] = response['days'][0]['sunrise']
        counties_weather_df.loc[index, "Sunset"] = response['days'][0]['sunset']
    except:
        pass

# Display sample data
counties_weather_df.head()

In [3]:
#Test request
data = requests.get('https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/39.874325,-104.331872/2020-10-01/2020-10-01?key=LH73CB26GBPR44YGBTZVU2LDX&contentType=json&include=days&elements=cloudcover,datetime,solarradiation,solarenergy,tempmax,tempmin,temp,humidity,precipcover,preciptype,uvindex,sunrise,sunset').json()
data

{'queryCost': 1,
 'latitude': 39.874325,
 'longitude': -104.331872,
 'resolvedAddress': '39.874325,-104.331872',
 'address': '39.874325,-104.331872',
 'timezone': 'America/Denver',
 'tzoffset': -6.0,
 'days': [{'datetime': '2020-10-01',
   'tempmax': 66.7,
   'tempmin': 40.5,
   'temp': 52.9,
   'humidity': 39.1,
   'precipcover': 0.0,
   'preciptype': None,
   'cloudcover': 48.9,
   'solarradiation': 370.4,
   'solarenergy': 17.3,
   'uvindex': 7.0,
   'sunrise': '06:54:06',
   'sunset': '18:38:49'}]}

In [41]:
#TEST DF
test_df = counties_weather_df.copy()
test_df = test_df[:5]
test_df

,FIPS,County,County Seat(s),Population (2010),Land Area km2,Land Area mi2,Water Area km2,Water Area mi2,Total Area km2,Total Area mi2,...,Avg Temp,Humidity,Precip Cover,Precip Type,Cloud Cover,Solar Radiation,Solar Energy,UV Index,Sunrise,Sunset
0,8001,Adams,Brighton,"441,603","3,024.21","1,167.65",42.070,16.243,"3,066.28","1,183.90",...,,,,,,,,,,
1,8003,Alamosa,Alamosa,"15,445","1,871.64",722.643,1.808,0.698,"1,873.45",723.341,...,,,,,,,,,,
2,8005,Arapahoe,Littleton,"572,003","2,067.07",798.1,19.004,7.337,"2,086.07",805.437,...,,,,,,,,,,
3,8007,Archuleta,Pagosa Springs,"12,084","3,496.94","1,350.18",13.828,5.339,"3,510.77","1,355.51",...,,,,,,,,,,
4,8009,Baca,Springfield,"3,788","6,617.33","2,554.97",6.142,2.372,"6,623.48","2,557.34",...,,,,,,,,,,

In [45]:
#DON'T NEED THIS
#testing for loop creating dataframes

# for index, row in counties_weather_df.iterrows():
for index, row in test_df.iterrows():
    
# Get latitude, longitude from the DataFrame
    latitude = 39.874325
    longitude = -104.331872
    date = '2020-10-02'
    api_key = adina_api_key

        # Set base URL
    base_url = f'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{latitude},{longitude}/{date}/{date}?key={api_key}&contentType=json&include=days&elements=cloudcover,datetime,solarradiation,solarenergy,tempmax,tempmin,temp,humidity,precipcover,preciptype,uvindex,sunrise,sunset'

        # Make an API request and convert to JSON
    response = requests.get(base_url).json()

        # Grab the first airport from the results and store the details in the DataFrame
    try:
        test_df.loc[index, "Date"] = response['days'][0]['datetime']
        test_df.loc[index, "Max Temp"] = response['days'][0]['tempmax']
        test_df.loc[index, "Min Temp"] = response['days'][0]['tempmin']
        test_df.loc[index, "Avg Temp"] = response['days'][0]['temp']
        test_df.loc[index, "Humidity"] = response['days'][0]['humidity']
        test_df.loc[index, "Precip Cover"] = response['days'][0]['precipcover']
        test_df.loc[index, "Precip Type"] = response['days'][0]['preciptype']
        test_df.loc[index, "Cloud Cover"] = response['days'][0]['cloudcover']
        test_df.loc[index, "Solar Radiation"] = response['days'][0]['solarradiation']
        test_df.loc[index, "Solar Energy"] = response['days'][0]['solarenergy']
        test_df.loc[index, "UV Index"] = response['days'][0]['uvindex']
        test_df.loc[index, "Sunrise"] = response['days'][0]['sunrise']
        test_df.loc[index, "Sunset"] = response['days'][0]['sunset']
    except:
        pass


test_df

,FIPS,County,County Seat(s),Population (2010),Land Area km2,Land Area mi2,Water Area km2,Water Area mi2,Total Area km2,Total Area mi2,...,Avg Temp,Humidity,Precip Cover,Precip Type,Cloud Cover,Solar Radiation,Solar Energy,UV Index,Sunrise,Sunset
0,8001,Adams,Brighton,"441,603","3,024.21","1,167.65",42.070,16.243,"3,066.28","1,183.90",...,60.1,30.8,0.0,None,58.9,341.8,15.9,7.0,06:55:05,18:37:12
1,8003,Alamosa,Alamosa,"15,445","1,871.64",722.643,1.808,0.698,"1,873.45",723.341,...,60.1,30.8,0.0,None,58.9,341.8,15.9,7.0,06:55:05,18:37:12
2,8005,Arapahoe,Littleton,"572,003","2,067.07",798.1,19.004,7.337,"2,086.07",805.437,...,60.1,30.8,0.0,None,58.9,341.8,15.9,7.0,06:55:05,18:37:12
3,8007,Archuleta,Pagosa Springs,"12,084","3,496.94","1,350.18",13.828,5.339,"3,510.77","1,355.51",...,60.1,30.8,0.0,None,58.9,341.8,15.9,7.0,06:55:05,18:37:12
4,8009,Baca,Springfield,"3,788","6,617.33","2,554.97",6.142,2.372,"6,623.48","2,557.34",...,60.1,30.8,0.0,None,58.9,341.8,15.9,7.0,06:55:05,18:37:12

In [72]:
#MODIFY THIS FOR SCALING
#testing for loop creating dictionary

weather_data = []

# for index, row in counties_weather_df.iterrows():
for index, row in test_df.iterrows():
    
# Get latitude, longitude from the DataFrame
    latitude = row['Latitude']
    longitude = row['Longitude']
    date = '2020-10-02'
    api_key = adina_api_key
    county = row['County']

        # Set base URL
    base_url = f'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{latitude},{longitude}/{date}/{date}?key={api_key}&contentType=json&include=days&elements=cloudcover,datetime,solarradiation,solarenergy,tempmax,tempmin,temp,humidity,precipcover,preciptype,uvindex,sunrise,sunset'

        # Make an API request and convert to JSON
    response = requests.get(base_url).json()
    
    try:
        weather_dict = response['days'][0]
        weather_dict['County'] = county
        weather_data.append(weather_dict)
        
        # Grab the first airport from the results and store the details in the DataFrame
#     try:
# #         weather_data[county][date] = response['days'][0]['datetime']
# #         test_df.loc[index, "Max Temp"] = response['days'][0]['tempmax']
# #         test_df.loc[index, "Min Temp"] = response['days'][0]['tempmin']
# #         test_df.loc[index, "Avg Temp"] = response['days'][0]['temp']
# #         test_df.loc[index, "Humidity"] = response['days'][0]['humidity']
# #         test_df.loc[index, "Precip Cover"] = response['days'][0]['precipcover']
# #         test_df.loc[index, "Precip Type"] = response['days'][0]['preciptype']
# #         test_df.loc[index, "Cloud Cover"] = response['days'][0]['cloudcover']
# #         test_df.loc[index, "Solar Radiation"] = response['days'][0]['solarradiation']
# #         test_df.loc[index, "Solar Energy"] = response['days'][0]['solarenergy']
# #         test_df.loc[index, "UV Index"] = response['days'][0]['uvindex']
# #         test_df.loc[index, "Sunrise"] = response['days'][0]['sunrise']
# #         test_df.loc[index, "Sunset"] = response['days'][0]['sunset']
    except:
        pass


weather_data

[{'datetime': '2020-10-02',
  'tempmax': 73.3,
  'tempmin': 45.7,
  'temp': 60.1,
  'humidity': 30.8,
  'precipcover': 0.0,
  'preciptype': None,
  'cloudcover': 58.9,
  'solarradiation': 341.8,
  'solarenergy': 15.9,
  'uvindex': 7.0,
  'sunrise': '06:55:05',
  'sunset': '18:37:12',
  'County': 'Adams'},
 {'datetime': '2020-10-02',
  'tempmax': 70.7,
  'tempmin': 30.7,
  'temp': 50.6,
  'humidity': 40.3,
  'precipcover': 0.0,
  'preciptype': None,
  'cloudcover': 0.0,
  'solarradiation': 371.7,
  'solarenergy': 16.2,
  'uvindex': 7.0,
  'sunrise': '07:00:01',
  'sunset': '18:43:57',
  'County': 'Alamosa'},
 {'datetime': '2020-10-02',
  'tempmax': 72.8,
  'tempmin': 46.1,
  'temp': 59.8,
  'humidity': 30.7,
  'precipcover': 0.0,
  'preciptype': None,
  'cloudcover': 59.0,
  'solarradiation': 257.9,
  'solarenergy': 11.9,
  'uvindex': 6.0,
  'sunrise': '06:54:59',
  'sunset': '18:37:18',
  'County': 'Arapahoe'},
 {'datetime': '2020-10-02',
  'tempmax': 69.8,
  'tempmin': 33.9,
  'temp': 52.5,
  'humidity': 27.2,
  'precipcover': 0.0,
  'preciptype': None,
  'cloudcover': 0.4,
  'solarradiation': 367.3,
  'solarenergy': 31.9,
  'uvindex': 5.0,
  'sunrise': '07:04:56',
  'sunset': '18:49:09',
  'County': 'Archuleta'},
 {'datetime': '2020-10-02',
  'tempmax': 82.1,
  'tempmin': 43.1,
  'temp': 60.7,
  'humidity': 32.5,
  'precipcover': 0.0,
  'preciptype': None,
  'cloudcover': 0.0,
  'solarradiation': 367.0,
  'solarenergy': 17.1,
  'uvindex': 7.0,
  'sunrise': '06:46:54',
  'sunset': '18:31:04',
  'County': 'Baca'}]

In [74]:
#DON'T NEED THIS - WILL BE CREATING DATAFRAMES WITH JUST WEATHER DATA AND THEN MERGING/CONCATENATING
#Creating new DF for county weather data
counties_weather_df = counties_df.copy()
counties_weather_df[['Date','Max Temp','Min Temp','Avg Temp','Humidity','Precip Cover','Precip Type','Cloud Cover','Solar Radiation','Solar Energy','UV Index','Sunrise','Sunset']] = ''
counties_weather_df

,FIPS,County,County Seat(s),Population (2010),Land Area km2,Land Area mi2,Water Area km2,Water Area mi2,Total Area km2,Total Area mi2,...,Avg Temp,Humidity,Precip Cover,Precip Type,Cloud Cover,Solar Radiation,Solar Energy,UV Index,Sunrise,Sunset
0,8001,Adams,Brighton,"441,603","3,024.21","1,167.65",42.070,16.243,"3,066.28","1,183.90",...,,,,,,,,,,
1,8003,Alamosa,Alamosa,"15,445","1,871.64",722.643,1.808,0.698,"1,873.45",723.341,...,,,,,,,,,,
2,8005,Arapahoe,Littleton,"572,003","2,067.07",798.1,19.004,7.337,"2,086.07",805.437,...,,,,,,,,,,
3,8007,Archuleta,Pagosa Springs,"12,084","3,496.94","1,350.18",13.828,5.339,"3,510.77","1,355.51",...,,,,,,,,,,
4,8009,Baca,Springfield,"3,788","6,617.33","2,554.97",6.142,2.372,"6,623.48","2,557.34",...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,8117,Summit,Breckenridge,"27,994","1,575.64",608.358,28.283,10.920,"1,603.92",619.278,...,,,,,,,,,,
60,8119,Teller,Cripple Creek,"23,350","1,442.77",557.055,4.945,1.909,"1,447.71",558.964,...,,,,,,,,,,
61,8121,Washington,Akron,"4,814","6,521.67","2,518.03",15.207,5.872,"6,536.88","2,523.90",...,,,,,,,,,,
62,8123,Weld,Greeley,"252,825","10,326.90","3,987.24",76.554,29.558,"10,403.45","4,016.80",...,,,,,,,,,,
63,8125,Yuma,Wray,"10,043","6,123.78","2,364.41",11.135,4.299,"6,134.92","2,368.70",...,,,,,,,,,,

In [73]:
#TEST DF OUTPUT
test_new_df = pd.DataFrame(weather_data)
test_new_df

,datetime,tempmax,tempmin,temp,humidity,precipcover,preciptype,cloudcover,solarradiation,solarenergy,uvindex,sunrise,sunset,County
0,2020-10-02,73.3,45.7,60.1,30.8,0.0,None,58.9,341.8,15.9,7.0,06:55:05,18:37:12,Adams
1,2020-10-02,70.7,30.7,50.6,40.3,0.0,None,0.0,371.7,16.2,7.0,07:00:01,18:43:57,Alamosa
2,2020-10-02,72.8,46.1,59.8,30.7,0.0,None,59.0,257.9,11.9,6.0,06:54:59,18:37:18,Arapahoe
3,2020-10-02,69.8,33.9,52.5,27.2,0.0,None,0.4,367.3,31.9,5.0,07:04:56,18:49:09,Archuleta
4,2020-10-02,82.1,43.1,60.7,32.5,0.0,None,0.0,367.0,17.1,7.0,06:46:54,18:31:04,Baca

In [68]:
#DON'T NEED THIS - CREATING CODE FOR DICTIONARIES
weather_data = []
weather_dict = response['days'][0]
weather_dict['County'] = 'Denver'
weather_data.append(weather_dict)
weather_data

[{'datetime': '2020-10-02',
  'tempmax': 73.3,
  'tempmin': 45.7,
  'temp': 60.1,
  'humidity': 30.8,
  'precipcover': 0.0,
  'preciptype': None,
  'cloudcover': 58.9,
  'solarradiation': 341.8,
  'solarenergy': 15.9,
  'uvindex': 7.0,
  'sunrise': '06:55:05',
  'sunset': '18:37:12',
  'County': 'Denver'}]