In [5]:
import requests
import json
import pandas as pd
from config import adina_api_key, henry_api_key, devang_api_key, tanner_api_key

In [8]:
data = requests.get('https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/39.874325,-104.331872/2020-10-01/2020-10-01?key=LH73CB26GBPR44YGBTZVU2LDX&contentType=json&include=days&elements=cloudcover,datetime,solarradiation,solarenergy,tempmax,tempmin,temp,humidity,precipcover,preciptype,uvindex,').json()
data

{'queryCost': 1,
 'latitude': 39.874325,
 'longitude': -104.331872,
 'resolvedAddress': '39.874325,-104.331872',
 'address': '39.874325,-104.331872',
 'timezone': 'America/Denver',
 'tzoffset': -6.0,
 'days': [{'datetime': '2020-10-01',
   'tempmax': 66.7,
   'tempmin': 40.5,
   'temp': 52.9,
   'humidity': 39.1,
   'precipcover': 0.0,
   'preciptype': None,
   'cloudcover': 48.9,
   'solarradiation': 370.4,
   'solarenergy': 17.3,
   'uvindex': 7.0}]}

In [22]:
counties = pd.read_csv('C:/Users/adina/Desktop/Classwork/Project 1/Project-1/CO County Data.csv',encoding='cp1252')
counties_df = pd.DataFrame(counties)
counties_df.head()

,FIPS,County,County Seat(s),Population (2010),Land Area km2,Land Area mi2,Water Area km2,Water Area mi2,Total Area km2,Total Area mi2,Latitude,Longitude
0,8001,Adams,Brighton,"441,603","3,024.21","1,167.65",42.070,16.243,"3,066.28","1,183.90",39.874325,-104.331872
1,8003,Alamosa,Alamosa,"15,445","1,871.64",722.643,1.808,0.698,"1,873.45",723.341,37.568442,-105.788041
2,8005,Arapahoe,Littleton,"572,003","2,067.07",798.1,19.004,7.337,"2,086.07",805.437,39.644632,-104.331733
3,8007,Archuleta,Pagosa Springs,"12,084","3,496.94","1,350.18",13.828,5.339,"3,510.77","1,355.51",37.202395,-107.050863
4,8009,Baca,Springfield,"3,788","6,617.33","2,554.97",6.142,2.372,"6,623.48","2,557.34",37.303144,-102.535457